{{<template}}
{{$body}} 
<form onsubmit="doApiCall();return false;" class="well form-inline">
	<h2>Enter the Api call you would like to test</h2>

	<div class="btn-group" data-toggle="buttons-radio">
	  <a href="#" onclick="apimethodChange('GET');return false;" class="btn btn-primary">GET</a>
	  <a href="#" onclick="apimethodChange('POST');return false;" class="btn btn-primary">POST</a>
	  <a href="#" onclick="apimethodChange('DELETE');return false;" class="btn btn-primary">DELETE</a>
	  <a href="#" onclick="apimethodChange('PUT');return false;" class="btn btn-primary">PUT</a>
	</div>
	<input id="api_method" name="api_method" type="hidden" value="GET" />
	<input id="api_endpoint" name="api_endpoint" type="text" class="input-xxlarge" style="width:80%;" placeholder="Enter Api Call">
	<button type="submit" class="btn">Try It</button>
	<div class="field" style="display:none" id="post_params">
		<textarea id="api_post_params"></textarea>
		<p>Post params, example (param1=something&amp;param2=somethingelse)</p>
	</div>
</form>

<h3>Results</h3>

<h4 class="example_api" id="api_result_endpoint"></h4>

<pre id="api_result_code">

</pre>

{{/body}}
{{$scripts}}
	<script>
		$.ready(function() {
		
		});
	
		function apimethodChange(value) {
			if (value == 'POST') {
				$('#post_params').show();
			} else {
				$('#post_params').hide();
				$('#api_post_params').val('');
			}
			$('#api_method').val(value);
		}
		
		function doApiCall() {
			var api = $('#api_endpoint').val();
			var meth = $('#api_method').val();
			var params = {};
			if (meth == 'POST') {
				params = $('#api_post_params').val();			
			}
			
			$('#api_result_endpoint').html('Loading ...');
			
			CheshireApi.request({
				api : api,
				method : meth,
				params : params,
				on_success : function(options, result) {
					$('#api_result_endpoint').html(api);
					$('#api_result_code').html(Cheshire.formatJSON(result));
				},
				on_error : function(options, code, message) {
					$('#api_result_endpoint').html(api);
					$('#api_result_code').html('<b>' + code + "</b> " + message);
				}
			});
		}
	</script>
{{/scripts}}

{{/template}}