<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</layout>
	</appender>
 
    <!--Daily rolling file appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/cheshire.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/cheshire.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
 
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>
 	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
	</root>
	<root>
		<level value="warn" />
		<appender-ref ref="FILE" />
	</root>
</configuration>